version: '3'
services:
  web:
    build:
      context: .
{% if docs.https | mandatory %}
      dockerfile: Dockerfile-https
{% else %}
      dockerfile: Dockerfile-http
{% endif %}
    volumes:
      - ./generated-files/public-html:/usr/local/apache2/htdocs/
    ports:
{% if docs.https | mandatory %}
      - "127.0.0.1:{{ docs.port | mandatory }}:443"
{% else %}
      - "127.0.0.1:{{ docs.port | mandatory }}:80"
{% endif %}
